.sideCart__container{
    z-index: 1;
    position: absolute;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.5) ;
    height: 100vh;
    
    width: 100%;
    top: 0;
    display: flex;
    justify-content: flex-end;
    font-family: var(--font-family-sans-serif);
}
.sideCart__box{
    background-color: white;
    height: 100%;
}

                                                        /* HEADER */
.sideCart__header{
    display: flex;
    border: solid lightgray 1px;

}

.sideCart__header__icon-container{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding: 0px 8px;
}
.sideCart__header__icon{
    height: 25px;
    width: 25px;
}


.sideCart__header__title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    text-transform: uppercase;
    font-weight: 600;
}

.sideCart__header__exit-container{
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.sideCart__header__exit{
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.sideCart__items{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 350px;
}

.sideCart__items {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.sideCart__items::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

                                                        /* PROMO */

.sideCart__promo-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    border-bottom: solid lightgray 1px;
}

.sideCart__promo-container button{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 2rem;
}


                                                        /* SUB TOTAL */

.sideCart__subTotal-container{
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

                                                        /* checkout button */
.sideCart__checkOut__button-container{
    display: flex;
    justify-content: center;
}
.sideCart__checkOut__button{
    height: 40px;
    width: 200px;
    border-radius: 2px;
    background-color: #53c563;
    border: solid #53c563 1px;
    outline: none;
    color: white;
}



                                                        /* MESSAGE */

/* TEXT BOX CAUSING SIZING ISSUES */

.sideCart__message-container{
    display: flex;
    justify-content: center;
    max-width: 450px;
    font-size: 1.3rem;
    margin: 20px 5px;
}

                                                        /* EMPTY*/

.sideCart__empty-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding-top: 20px;
}

.sideCart__empty__image-container{
    display: flex;
    justify-content: center;
    max-width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.sideCart__empty__image{
    object-fit: cover;
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
}
.sideCart__empty__message{
    font-size: 2rem;
    font-weight: 600;
    margin: 20px;
}
.sideCart__empty__button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideCart__empty__button{
    cursor: pointer;
    outline: none;
    border: none;
    margin: 20px;
    height: 50px;
    width: 150px;
    font-weight: 700;
    font-size: 16px;
    font-family: var(--font-family-sans-serif);
}

