.rating__container{
    width: fit-content;
    margin-right: 5px;
}

.rating__stars-container{
    position: relative;
}

.rating__goldStars-container{
    overflow: hidden;
    display: flex;
}
.rating__greyStars-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    filter: grayscale(1);
}

.rating__image{
    width: 20px;
}
