.navList__container{
    display: flex;
    flex: 2 1 0;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    list-style: none;
}

.navList__box{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
}

.navList__item{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;

}

.navList__item button{
    border: solid red 1px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 1.2rem; 
    cursor: pointer; 
    color: #212A2F;
}