.navList__container{
    display: flex;
    flex: 2 1 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    list-style: none;
}
.navList__item{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navList__item button{
    outline: none;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: var(--font-weight-m);
    font-size: 1.4rem;    
    cursor: pointer;
}