.nB__container{
    /* position: sticky;
    top: 0;
    z-index: 1; */
    width: 100%;
    font-family: var(--font-family-sans-serif);
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: solid lightgray 1px;
    font-size: 1.5rem;
}


.nB__box{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.temp{
    border: solid red 1px;
}
                                                            /* HAMBURGER CONTAINER */
.nB__hB-container{
    display: flex;
    flex: 1 1 0;
    padding-left: 30px;
}

                                                            /* LOGO CONTAINER */
.nB__logo__container{
    flex: 1 1 0;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    /* padding-left: 20px; */
}
.nB__logo-container{
    width: fit-content;
}

                                                            /* NAV ICONS */
.nB__icons-container{
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    justify-content: space-around;
}

.nB__icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nB__icon__button{
    cursor: pointer;
    display: flex;
    border: none;
    outline: none;
    background-color: transparent;
}

.nB__icon{
    width: 15px;
    margin-left: 3px;
}