.nB__container{
    /* position: sticky;
    top: 0;
    z-index: 1; */
    width: 100%;
    font-family: var(--font-family-sans-serif);
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: solid lightgray 1px;
    font-size: 1.5rem;
}

.nB__logo-container{
    font-size: 4rem;
    padding-left: 20px;
}


.nB__box{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

                                                            /* LOGO CONTAINER */
.nB__logo-container{
    flex: 1 1 0;
}
.nB__logo{
    width: 100%;
}

                                                            /* NAV MENU */
.nB__menu{
    display: flex;
    flex: 2 1 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    list-style: none;
}
.nB__menu-item{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nB__menu-item button{
    outline: none;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: var(--font-weight-m);
    font-size: 1.4rem;    
    cursor: pointer;
}


                                                            /* NAV ICONS */
.nB__icons-container{
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    justify-content: space-around;
}

.nB__icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nB__icon__cart{
    cursor: pointer;
    display: flex;
    border: none;
    outline: none;
    background-color: transparent;
}

.nB__icon{
    width: 15px;
    margin-left: 3px;
}