.nB__container{
    position: relative;
    /* position: sticky;
    top: 0;
    z-index: 1; */
    width: 100%;
    font-family: var(--font-family-sans-serif);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-bottom: solid lightgray 1px;
    font-size: 1.5rem;
}


.nB__box{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.temp{
    /* border: solid red 1px; */
}

.temp2{
    /* border: solid blue 1px; */
}
                                                            /* HAMBURGER CONTAINER */
.nB__hB-container{
    display: flex;
    flex: 1 1 0;
}

                                                            /* LOGO CONTAINER */
.nB__logo__container{
    flex: 1 1 0;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    /* padding-left: 20px; */
}
.nB__logo-container{
    width: fit-content;
}

                                                            /* NAV ICONS */
.nB__icons__container{
    /* border: solid red 1px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 0;
}
.nB__icons-container{
    /* border: solid orange 1px; */
    display: flex;
    max-width: 250px;
    width: 100%;
    justify-content: space-between;

}

.nB__icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nB__icon__text{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
}

.nB__icon__button{
    cursor: pointer;
    display: flex;
    border: none;
    outline: none;
    background-color: transparent;
}

.nB__icon{
    width: 15px;
    margin-left: 3px;
}
.cart{
    position: relative;
}
.nB__icon__count{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red 1px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 1rem;
    top: -10%;
    right: -10%;
}


@media (max-width: 1000px) {
    .nB__icons-container{
        justify-content: flex-end;
    }
    .nB__icon-container{
        margin-left: 20px;
    }
    
    .nB__icon{
        width: 20px;
    }

}
