.cartItem__container{
    display: flex;
    border-bottom: solid lightgray 1px;
}

                                                                /* IMAGE */
.cartItem__image-container{
    padding: 10px;
    width: 100px;
}

.cartItem__image{
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

                                                                    /* INFO */

.cartItem__info{
    font-family: var(--font-family-sans-serif);
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
}

.cartItem__price-container{
    font-size: 1.3rem;
}

.cartItem__title{
    font-weight: 600;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cartItem__button{
    outline: none;
    border: none;
    background-color: transparent;
    color: #d9021b;
    text-transform: uppercase;
    font-size: 0.9rem;
    cursor: pointer;
}


                                                                    /* QUANTITY */
.cartItem__input-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartItem__input-box{
    border: solid lightgray 1px;
    padding: 5px 10px;
    display: flex;
}

.cartItem__input{
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: none;
    outline: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    border: none;
    outline: none;
}

.cartItem__input-buttons{
    display: flex;
    flex-direction: column;
}

.cartItem__input-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 15px;
    width: 15px;
    border: none;
}