
.modalWrapper__container{
    font-family: var(--font-family-sans-serif);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalWrapper__darkBg {
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
    overflow-y: scroll;
    display: flex;
}

.modal__sideCart{
    justify-content: flex-end;
}


@media (max-width: 480px) {
    .modalWrapper__darkBg{
        overflow: hidden;
    }

}
