.card__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    margin: 3px;
}

.card__outline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid lightgray 1px;
    border-radius: 2px;
    width: fit-content;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
}

.card__image-container{
    position: relative;
    max-height: 300px;
    max-width: 300px;
    margin: 30px;
    
}

.card__darkBg{
    position: absolute;
    background-color: rgba(0, 0,0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card__darkBg button{
    cursor: pointer;
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
}
.card__image{
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.card__title-line{
    border-bottom: solid lightgray 1px;
}

.card__title-container{
    padding: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}