.cB__container{
    display: flex;
    flex-direction: column;
}
.cB__title-container{
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 10px 0 10px 0;
}

.cB__cards__container{
    display: flex;
    justify-content: center;
}

.cB__image-container{
    display: inline-block;
    max-width: 400px;
    padding: 20px;
    cursor: pointer;
}

.cB__image{
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.cB__card__title-container{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.cB__card__title-container p{
    cursor: pointer;
}